documents/
scripts/
reports/
log/
version/
themes/
addOns/sqlAssembly/dnsRequest/bin/
addOns/sqlAssembly/dnsRequest/obj/
addOns/sqlAssembly/webRequest/bin/
addOns/sqlAssembly/webRequest/obj/
addOns/tools/dnsRecord/bin/
addOns/tools/dnsRecord/obj/
addOns/tools/dnsRecord/bin/Debug/
