[submodule "themes/themeTHREE"]
	path = themes/themeTHREE
	url = https://github.com/ljcom/themeTHREE.git
[submodule "themes/themeFIVE"]
	path = themes/themeFIVE
	url = https://github.com/ljcom/themeFIVE.git
[submodule "themes/themeFOUR"]
	path = themes/themeFOUR
	url = https://github.com/ljcom/themeFOUR.git
[submodule "themes/themeTWO"]
	path = themes/themeTWO
	url = https://github.com/ljcom/themeTWO.git
[submodule "themes/themeONE"]
	path = themes/themeONE
	url = https://github.com/ljcom/themeONE.git
[submodule "themes/themeSIX"]
	path = themes/themeSIX
	url = https://github.com/ljcom/themeSIX.git	
