documents/
scripts/
log/
version/
web.config
thumbs.db
bin/
cdn/
core/bin/
core/App_Data/
core/BuildProcessTemplates/
core/OPHContent/log
themes/
reports/*/temp
reports/*/*.pdf
reports/*/*.xls
reports/*/*.xlsx

project/
