documents/
scripts/
reports/
log/
version/
addOns/sqlAsembly/dnsRequest/bin/
addOns/sqlAsembly/dnsRequest/obj/
addOns/sqlAsembly/webRequest/bin/
addOns/sqlAsembly/webRequest/obj/
addOns/tools/dnsRecord/bin/
addOns/tools/dnsRecord/obj/
addOns/tools/dnsRecord/bin/Debug/
