.cell-table {
    /* magic */
    width: 100%;
    table-layout: fixed;
    /*not really necessary, removes extra white space */
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

    .cell-table td {
        white-space: nowrap;
        /* overflow: hidden; */
        /* overflow: hidden; */
        text-overflow: clip;
    }

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
}
