 .sk-wave {
      margin: 200px auto;
      width: 50px;
      height: 40px;
      text-align: center;
      font-size: 10px; }
      .sk-wave .sk-rect {
      background-color: #757575;
      height: 100%;
      width: 6px;
      display: inline-block;
      -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
      animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
      .sk-wave .sk-rect1 {
      -webkit-animation-delay: -1.2s;
      animation-delay: -1.2s; }
      .sk-wave .sk-rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s; }
      .sk-wave .sk-rect3 {
      -webkit-animation-delay: -1s;
      animation-delay: -1s; }
      .sk-wave .sk-rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s; }
      .sk-wave .sk-rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s; }

      @-webkit-keyframes sk-waveStretchDelay {
      0%, 40%, 100% {
      -webkit-transform: scaleY(0.4);
      transform: scaleY(0.4); }
      20% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1); } }

      @keyframes sk-waveStretchDelay {
      0%, 40%, 100% {
      -webkit-transform: scaleY(0.4);
      transform: scaleY(0.4); }
      20% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1); } }
      #content-loader{
      position:fixed;  display: block; background:rgba(250, 255, 255, 0.7); width:100%; height:100%; top:0px; left:0; z-index:1000; text-align:center
      }
      
/*---------------------------------------------------------------------*/

input[type=text].enabled-input, input[type=password].enabled-input 
{
    padding-left:10px;
    background:#badcff;
 }
 
 input[type=text].enabled-input:focus
{
    background:#badcff;
 }
input[type=text].disabled-input, input[type=password].disabled-input 
{
    padding-left:10px;
    background:#e5e5e5 !important;
 }
 
   .select2-container--default .select2-selection--single {
      background-color: #fff;
      border:none;
      border-bottom: 1px solid #D2D2D2;
      border-radius: 0px;
      }
      .select2-container .select2-selection--single .select2-selection__rendered {
      padding-left:0;
      }

.no-padding-tb
{padding-top:0px !important;
 padding-bottom:0px !important;
 
    }
.form-group
{margin-top:15px;
    }
.select2-container
{min-width:250px;
 width:100%;
    }
*::-webkit-input-placeholder {
    color: #dddddd !important;
    font-size:13px !important;
}